In [1]:
# Dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect

from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
engine = create_engine('sqlite:///SQL/SGU.db')
conn = engine.connect()

In [3]:
# Define our installation table
class Installation(Base):
    __tablename__ = 'installation'
    postcode = Column(Integer, primary_key=True)
    _2001 = Column(Float)
    _2002 = Column(Float)
    _2003 = Column(Float)
    _2004 = Column(Float)
    _2005 = Column(Float)
    _2006 = Column(Float)
    _2007 = Column(Float)
    _2008 = Column(Float)
    _2009 = Column(Float)
    _2010 = Column(Float)
    _2011 = Column(Float)
    _2012 = Column(Float)
    _2013 = Column(Float)
    _2014 = Column(Float)
    _2015 = Column(Float)
    _2016 = Column(Float)
    _2017 = Column(Float)
    _2018 = Column(Float)
    _2019 = Column(Float)
    _2020 = Column(Float)
    _2021 = Column(Float)
    AVG = Column(Float)
    Total = Column(Float)

In [4]:
# Define our output table
class Output(Base):
    __tablename__ = 'output'
    postcode = Column(Integer, primary_key=True)
    _2001 = Column(Float)
    _2002 = Column(Float)
    _2003 = Column(Float)
    _2004 = Column(Float)
    _2005 = Column(Float)
    _2006 = Column(Float)
    _2007 = Column(Float)
    _2008 = Column(Float)
    _2009 = Column(Float)
    _2010 = Column(Float)
    _2011 = Column(Float)
    _2012 = Column(Float)
    _2013 = Column(Float)
    _2014 = Column(Float)
    _2015 = Column(Float)
    _2016 = Column(Float)
    _2017 = Column(Float)
    _2018 = Column(Float)
    _2019 = Column(Float)
    _2020 = Column(Float)
    _2021 = Column(Float)
    AVG = Column(Float)
    Total = Column(Float)

In [23]:
# Define our rebate table
class Rebate(Base):
    __tablename__ = 'rebate'
    postcode = Column(Integer, primary_key=True)
    zone = Column(Float)
    rating = Column(Float)
    annual_prod = Column(Float)
    rebate = Column(Float)

InvalidRequestError: Table 'rebate' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [24]:
# Define our income table
class Income(Base):
    __tablename__ = 'income'
    Postcode = Column(Integer, primary_key=True)
    Average_total = Column(Float)
    Average_salary = Column(Float)

InvalidRequestError: Table 'income' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [25]:
# Import our data into pandas from CSV

installation_data_path = 'static/data/SGU/Installation.csv'
output_data_path = 'static/data/SGU/Output.csv'

Installation_df = pd.read_csv(installation_data_path, low_memory=False)
Output_df = pd.read_csv(output_data_path, low_memory=False)

income_df = pd.read_csv("static/data/income_df.csv")
rebate_df = pd.read_csv("static/data/rebate_df.csv")

In [9]:
Installation_df = Installation_df.rename(columns = {"2001" : "_2001",
                                                    "2002" : "_2002",
                                                    "2003" : "_2003",
                                                    "2004" : "_2004",
                                                    "2005" : "_2005",
                                                    "2006" : "_2006",
                                                    "2007" : "_2007",
                                                    "2008" : "_2008",
                                                    "2009" : "_2009",
                                                    "2010" : "_2010",
                                                    "2011" : "_2011",
                                                    "2012" : "_2012",
                                                    "2013" : "_2013",
                                                    "2014" : "_2014",
                                                    "2015" : "_2015",
                                                    "2016" : "_2016",
                                                    "2017" : "_2017",
                                                    "2018" : "_2018",
                                                    "2019" : "_2019",
                                                    "2020" : "_2020",
                                                    "2021" : "_2021"})
Installation_df

,Postcode,_2001,_2002,_2003,_2004,_2005,_2006,_2007,_2008,_2009,...,_2014,_2015,_2016,_2017,_2018,_2019,_2020,_2021,AVG,Total
0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.190476,4.0
1,200.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.047619,1.0
2,800.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,4.0,0.0,...,6.0,4.0,6.0,5.0,11.0,40.0,11.0,3.0,5.190476,109.0
3,801.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.380952,8.0
4,803.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.095238,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,2678.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.200000,1.0
2798,6219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,3.0,0.0,0.0,0.600000,3.0
2799,6614.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.200000,1.0
2800,1685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.500000,1.0
2801,6452.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.500000,1.0

In [10]:
Output_df = Output_df.rename(columns = {"2001" : "_2001",
                                                    "2002" : "_2002",
                                                    "2003" : "_2003",
                                                    "2004" : "_2004",
                                                    "2005" : "_2005",
                                                    "2006" : "_2006",
                                                    "2007" : "_2007",
                                                    "2008" : "_2008",
                                                    "2009" : "_2009",
                                                    "2010" : "_2010",
                                                    "2011" : "_2011",
                                                    "2012" : "_2012",
                                                    "2013" : "_2013",
                                                    "2014" : "_2014",
                                                    "2015" : "_2015",
                                                    "2016" : "_2016",
                                                    "2017" : "_2017",
                                                    "2018" : "_2018",
                                                    "2019" : "_2019",
                                                    "2020" : "_2020",
                                                    "2021" : "_2021"})
Output_df

,Postcode,_2001,_2002,_2003,_2004,_2005,_2006,_2007,_2008,_2009,...,_2014,_2015,_2016,_2017,_2018,_2019,_2020,_2021,AVG,Total
0,0.0,0.0,2.58,0.0,0.98,0.90,0.0,0.0,0.00,0.0,...,0.000,0.00,0.000,0.000,0.00,0.00,0.00,0.00,0.212381,4.460
1,200.0,0.0,0.00,0.0,0.08,0.00,0.0,0.0,0.00,0.0,...,0.000,0.00,0.000,0.000,0.00,0.00,0.00,0.00,0.003810,0.080
2,800.0,0.0,0.00,0.0,0.00,0.16,0.0,19.2,15.38,0.0,...,41.045,133.49,208.070,281.890,527.74,682.48,526.04,48.49,123.599048,2595.580
3,801.0,0.0,0.00,0.0,3.44,0.00,0.0,0.0,0.00,0.0,...,0.000,6.00,66.708,24.840,31.86,0.00,99.99,0.00,11.183714,234.858
4,803.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.0,...,0.000,6.12,0.000,5.565,0.00,0.00,0.00,0.00,0.556429,11.685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2797,2678.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000,0.00,0.00,39.60,0.00,7.920000,39.600
2798,6219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000,0.00,19.83,0.00,0.00,3.966000,19.830
2799,6614.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000,0.00,6.60,0.00,0.00,1.320000,6.600
2800,1685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4.80,2.400000,4.800
2801,6452.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.00,6.60,3.300000,6.600

In [26]:
# Create the tables within the database
Base.metadata.create_all(engine)

In [28]:
Installation_df.to_sql('installation', engine, if_exists="append", index=False)
Output_df.to_sql('output', engine, if_exists="append", index=False)
income_df.to_sql('income', engine, if_exists="append", index=False)
rebate_df.to_sql('rebate', engine, if_exists="append", index=False)

In [29]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [30]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [31]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['income', 'installation', 'output', 'rebate']

In [32]:
# Assign the installation class to a variable called `Install`
Install = Base.classes.installation

In [33]:
# Create a session
session = Session(engine)

In [34]:
# Use the session to query Install table and display the first 5 trade volumes
for row in session.query(Install.postcode, Install.AVG, Install.Total).limit(20).all():
    print(row)

(0, 0.19047619047619047, 4.0)
(200, 0.047619047619047616, 1.0)
(800, 5.190476190476192, 109.0)
(801, 0.3809523809523809, 8.0)
(803, 0.09523809523809523, 2.0)
(804, 0.7142857142857143, 15.0)
(810, 156.85714285714286, 3294.0)
(811, 0.09523809523809523, 2.0)
(812, 86.23809523809523, 1811.0)
(813, 0.3333333333333333, 7.0)
(814, 0.19047619047619047, 4.0)
(820, 52.23809523809525, 1097.0)
(821, 0.3333333333333333, 7.0)
(822, 41.904761904761905, 880.0)
(828, 11.476190476190474, 241.0)
(829, 1.7142857142857142, 36.0)
(830, 92.4761904761905, 1942.0)
(831, 0.42857142857142855, 9.0)
(832, 107.38095238095238, 2255.0)
(834, 11.142857142857142, 234.0)

In [35]:
# Assign the output class to a variable called `Output`
Output = Base.classes.output

In [36]:
# Use the session to query Output table and display the first 5 trade volumes
for row in session.query(Output.postcode, Output.AVG, Output.Total).limit(20).all():
    print(row)

(0, 0.2123809523809524, 4.46)
(200, 0.0038095238095238095, 0.08)
(800, 123.59904761904758, 2595.58)
(801, 11.183714285714288, 234.858)
(803, 0.5564285714285715, 11.685)
(804, 3.7290476190476203, 78.31000000000002)
(810, 1010.4450476190477, 21219.346)
(811, 0.42857142857142855, 9.0)
(812, 529.1911904761905, 11113.015)
(813, 4.073761904761904, 85.54899999999998)
(814, 0.8685714285714287, 18.24)
(820, 544.8573333333334, 11442.003999999999)
(821, 7.443, 156.303)
(822, 440.00828571428576, 9240.174)
(828, 166.77338095238096, 3502.241)
(829, 42.42285714285714, 890.8799999999999)
(830, 586.6249523809523, 12319.124000000002)
(831, 1.8561904761904757, 38.98)
(832, 642.1968571428573, 13486.133999999998)
(834, 81.13723809523809, 1703.882)

In [37]:
# Test the query
for row in session.query(Income.Postcode, Income.Average_total, Income.Average_salary).limit(20).all():
    print(row)

(800, 98643.0, 88445.0)
(801, 120690.0, 85064.0)
(804, 108716.0, 89647.0)
(810, 94079.0, 78351.0)
(811, 119181.0, 90769.0)
(812, 91317.0, 77295.0)
(813, 95978.0, 74204.0)
(814, 101270.0, 75812.0)
(820, 109705.0, 86091.0)
(821, 113869.0, 73432.0)
(822, 81500.0, 67159.0)
(828, 87373.0, 70250.0)
(829, 82589.0, 73661.0)
(830, 94593.0, 82383.0)
(831, 97750.0, 84868.0)
(832, 97250.0, 89353.0)
(834, 96174.0, 77691.0)
(835, 101751.0, 82973.0)
(836, 99001.0, 82926.0)
(837, 92703.0, 68587.0)

In [38]:
# Test the query
for row in session.query(Rebate.postcode, Rebate.zone, Rebate.rating, Rebate.rebate).limit(20).all():
    print(row)

(200, 3.0, 1.382, 3185.0)
(800, 2.0, 1.536, 3535.0)
(801, 2.0, 1.536, 3535.0)
(804, 2.0, 1.536, 3535.0)
(810, 2.0, 1.536, 3535.0)
(811, 2.0, 1.536, 3535.0)
(812, 2.0, 1.536, 3535.0)
(813, 2.0, 1.536, 3535.0)
(814, 2.0, 1.536, 3535.0)
(815, 2.0, 1.536, 3535.0)
(820, 2.0, 1.536, 3535.0)
(821, 2.0, 1.536, 3535.0)
(822, 2.0, 1.536, 3535.0)
(828, 2.0, 1.536, 3535.0)
(829, 2.0, 1.536, 3535.0)
(830, 2.0, 1.536, 3535.0)
(831, 2.0, 1.536, 3535.0)
(832, 2.0, 1.536, 3535.0)
(834, 2.0, 1.536, 3535.0)
(835, 2.0, 1.536, 3535.0)

In [23]:
conn.close()